@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

:root {
    --red-color: rgb(77, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(233, 219, 203);
    font-family: 'Montserrat', sans-serif;
}

* {
    text-align: center;
    text-transform: lowercase;
    color: var(--red-color);
}
p {
    padding: 0;
}
.img-intro-banner {
    width: 100vw;
}
.gridcontainer {
    display: grid;
    max-width: 100%;
    gap: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 15vh auto auto auto auto auto auto;
    grid-template-areas:
    'header header header'
    'banner banner banner'
    'intro-section intro-section intro-section'
    'organic-section organic-section organic-section'
    'story-section story-section story-section'
    'career-section career-section career-section'
    'newsletter newsletter newsletter'
    'connect connect connect'
    'footer footer footer';
}
.gridcontainer .div-header {
    grid-area: header;
}
.gridcontainer .div-intro-banner {
    grid-area: banner
}
.gridcontainer .div-intro-section {
    grid-area: intro-section;
}
.gridcontainer .div-organic-section {
    grid-area: organic-section;
}
.gridcontainer .div-story-section {
    grid-area: story-section;
}
.gridcontainer .div-career-section {
    grid-area: career-section;
}
.gridcontainer .div-newsletter {
    grid-area: newsletter;
}
.gridcontainer .div-connect {
    grid-area: connect;
}
.gridcontainer .div-footer {
    grid-area: footer;
}





header {
    background-color: var(--red-color);
    padding: 5px;
}
header h1, h2 {
    color: rgb(233, 219, 203);
    padding: 5px;
}

.gridcontainer div {
    background-color: rgb(233, 219, 203);
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
h1 {
    margin: 0;
    color: rgb(233, 219, 203);
    font-family: 'Montserrat', sans-serif;
}
h2 {
    margin: 0;
    color: var(--red-color);
    font-family: 'Montserrat', sans-serif;
}

.img-intro-banner, .img-dish-intro, .img-founder-story, .img-organic-beets, .img-career-photo {
    max-width: 100%;
}
.div-intro-section {
    z-index: 5;
}

button {
    padding: 5px;
    font-weight: bold;
    border: 1px solid var(--red-color);
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: rgb(233, 219, 203);
    transition: all 0.5s ease;
    cursor: pointer;
}

button:hover {
    background-color: rgb(108, 27, 54);
}
button:hover p {
    color: rgb(233, 219, 203);
}
button p {
    font-family: 'Montserrat', sans-serif;
        margin: 0;
        color: var(--red-color);
}

.elle-woods-quote {
    text-align: right;
    padding-right: 10vw;
}
.div-newsletter section p {
    margin: 0
}
.div-newsletter {
    margin: 4vh;
}

.newsletter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2vh;
}
.newsletter-container div {
    margin: 0px;
}

input[type="text"], input[type="email"] {
    border-radius: 20px;
    padding: 5px;
    border: 1px black solid;
    font-family: 'Montserrat', sans-serif;
}


/* input[type="submit"] {
    padding: 6px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
} */

.div-social-media-logos {
    display: flex;
    justify-content: center;
    margin: 10px
}
.social-media-logos {
    max-height: 5vh;
    padding: 5px;
    transition: all 0.5s ease;
}

.logo-bottom-of-homepage {
    font-size: 2rem;
    }

footer ul {
    list-style-type: none;
    padding: 0;
}
footer ul li a {
    text-decoration: none;
} 


/* MEDIA QUERY FOR TABLET & DESKTOP */
@media (min-width: 601px) { 

    .gridcontainer {
        display: grid;
        gap: 0px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 25vh auto auto auto auto auto;
        grid-template-areas:
            'header header header'
            'nav nav nav'
            'banner banner banner'
            'intro-section intro-section intro-section'
            'organic-section organic-section organic-section'
            'story-section story-section story-section'
            'career-section career-section career-section'
            'newsletter newsletter newsletter'
            'connect connect connect'
            'footer footer footer';
    }
    .gridcontainer nav {
        grid-area: nav;
    }
header {
    padding: 0;
    z-index: 100;
}

    .nav-container {
        position: sticky;
        top: 0px;
        z-index: 10;
    }

    /* .navbar {
       margin: 0;
       padding: 0;
    
    } */

    .navbar ul {
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: var(--red-color);
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar ul li {
        position: relative;
        transition: all 0.5s ease;
        /* padding: 10px; */
    }
    .navbar ul li:hover {
        background-color: rgb(108, 27, 54);
    }

    .navbar ul li a {
        color: rgb(233, 219, 203);
        text-decoration: none;
        padding: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block;
        text-align: left;
       
    }
        
    .navbar ul li ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: center;
        position: absolute;
        justify-content: flex-start;
        max-width: 100%;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
    }
        .navbar ul li:hover > ul {
            visibility: visible;
            opacity: 1;
        }
    .navbar ul li ul li {
        text-align: left;
        width: 200%;
        background-color: var(--red-color);
    }


    header {
        z-index: 10;
    }
    .img-intro-banner {
        position: relative;
        bottom: 120px;
        
    }
    .div-intro-banner {
        overflow: hidden;
    }

    section {
        z-index: 2;
        background-color: rgb(233, 219, 203);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    section div {
        padding: 10px;
    }

   .img-dish-intro, .img-founder-story, .img-organic-beets, .img-career-photo {
        max-width: 40vw;
    }
    
    


    .div-intro-section section {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        
    }
    .div-intro-section div {
        max-width: auto;
        font-size: 0.8em;
    }
    .div-intro-section img {
        float: right;
        max-height: 100%;
    }


    .div-organic-section section {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        flex-direction: row-reverse;
    }
    
    .div-organic-section div {
        max-width: auto;
        font-size: 0.8em;
    }
    
    .div-organic-section img {
        float: left;
        max-height: 100%;
    }

    .div-story-section section {
        display: flex;
       flex-wrap: nowrap;
    justify-content: space-between;
      align-items: center;
      position: relative;
    }

    .div-story-section div {
      max-width: auto;
      font-size: 0.8em;
    }

    .div-story-section img {
     float: left;
      max-height: 100%;
    }   

        .div-career-section section {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            position: relative;
            flex-direction: row-reverse;
        }
    
        .div-career-section div {
            max-width: auto;
            font-size: 0.8em;
        }
    
        .div-career-section img {
            float: left;
            max-height: 100%;
        }
.logo-bottom-of-homepage {
    font-size: 2.5rem;
}

.social-media-logos:hover {
    transform: scale(1.4);
}
}
/* MEDIA QUERY FOR DESKTOP  */

@media (min-width: 1280px) {
    section p {
        font-size: 1.3em;
        padding-left: 50px;
        padding-right: 50px
    }
    button p {
        padding: 6px;
        margin: 0;
    }
    
}