@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgb(233, 219, 203);
    font-family: 'Montserrat', sans-serif;
}

* {
    text-align: center;
    text-transform: lowercase;
}

.gridcontainer {
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-areas:
    'header header header'
    'banner banner banner'
    'intro-section intro-section intro-section'
    'organic-section organic-section organic-section'
    'story-section story-section story-section'
    'newsletter newsletter newsletter'
    'connect connect connect'
    'footer footer footer';
}
.gridcontainer .div-header {
    grid-area: header;
}
.gridcontainer .div-intro-banner {
    grid-area: banner
}
.gridcontainer .div-intro-section {
    grid-area: intro-section;
}
.gridcontainer .div-organic-section {
    grid-area: organic-section;
}
.gridcontainer .div-story-section {
    grid-area: story-section;
}
.gridcontainer .div-newsletter {
    grid-area: newsletter;
}
.gridcontainer .div-connect {
    grid-area: connect;
}
.gridcontainer .div-footer {
    grid-area: footer;
}





header {
    background-color: rgba(77,0,0);
    padding: 5px;
}
header h1, h2 {
    color: rgb(233, 219, 203);
    padding: 5px;
}

.header-book-now {
    color: rgb(233, 219, 203);
}
hr {
    margin-left: 25%;
    margin-right: 25%;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
h1 {
    margin: 0;
    color: rgb(233, 219, 203);
    font-family: 'Montserrat', sans-serif;
}
h2 {
    margin: 0;
    color: rgb(77,0,0);
    font-family: 'Montserrat', sans-serif;
}

.img-intro-banner, .img-dish-intro, .img-founder-story, .img-organic-beets {
    max-width: 100vw;
}

.newsletter-container div {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* MEDIA QUERY FOR TABLET & DESKTOP */
@media (min-width: 601px) { 

    .gridcontainer {
        display: grid;
        gap: 0px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto 30vh auto auto auto auto auto;
        grid-template-areas:
            'header header header'
            'nav nav nav'
            'banner banner banner'
            'intro-section intro-section intro-section'
            'organic-section organic-section organic-section'
            'story-section story-section story-section'
            'newsletter newsletter newsletter'
            'connect connect connect'
            'footer footer footer';
    }
    .gridcontainer nav {
        grid-area: nav;
    }
header {
    padding: 0;
}
    .nav-container {
        width: 100vw;
        position: sticky;
        top: 0px;
        z-index: 10;
    }

    /* .navbar {
       margin: 0;
       padding: 0;
    
    } */

    .navbar ul {
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: rgb(77,0,0);
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar ul li {
        position: relative;
        transition: all 0.5s ease;
        /* padding: 10px; */
    }
    .navbar ul li:hover {
        background-color: rgb(108, 27, 54);
    }

    .navbar ul li a {
        color: rgb(233, 219, 203);
        text-decoration: none;
        width: 100%;
        padding: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-block;
        text-align: left;
       
    }
        
    .navbar ul li ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: center;
        position: absolute;
        justify-content: flex-start;
        max-width: 100%;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
    }
        .navbar ul li:hover > ul {
            visibility: visible;
            opacity: 1;
        }
    .navbar ul li ul li {
        text-align: left;
        width: 200%;
        background-color: rgb(77,0,0);
    }


    .img-intro-banner {
        z-index: -1;
        position: relative;
        bottom: 140px;
    }

    section {
        z-index: 2;
        background-color: rgb(233, 219, 203);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    section div {
        padding: 10px;
    }

   .img-dish-intro, .img-founder-story, .img-organic-beets {
        max-width: 40vw;
    }
    
    .div-intro-section section {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        position: relative;
        
    }
    .div-intro-section div {
        max-width: auto;
        font-size: 0.8em;
    }
    .div-intro-section img {
        float: right;
        max-height: 100%;
    }


    .div-organic-section section {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        position: relative;
        flex-direction: row-reverse;
    }
    
    .div-organic-section div {
        max-width: auto;
        font-size: 0.8em;
    }
    
    .div-organic-section img {
        float: left;
        max-height: 100%;
    }

    .div-story-section section {
        display: flex;
       flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      position: relative;
    }

    .div-story-section div {
      max-width: auto;
      font-size: 0.8em;
    }

    .div-story-section img {
     float: left;
      max-height: 100%;
    }   

}



/* MEDIA QUERY FOR DESKTOP  */

@media (min-width: 1280px) {
    section p {
        font-size: 1.3em;
        padding-left: 50px;
        padding-right: 50px
    }
    
}